@import 'config/reset';
@import 'config/variaveis';

@mixin cardFormat(){
    max-width: 490px;
    max-height: 245px;
    border-radius: 10px;
}

body{
    font-family: $fonte-principal;
}

.cards{
    max-width: 485px;
    width: 100%;
    height: 100vh;
    background-color:#21092F;
    color: #fff;

    .card{
        display: flex;
        flex-direction: column;
        gap: 38px;
        position: fixed;
        top: 15vh;
        left: 11%;
    }

    .card-front{
        @include cardFormat();
        width: 485px;
        background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
        padding: 28px 32px 27px 32px;
        box-shadow: 0 0 20px #3d3d3d;
        transition: all ease .3s;
        &:hover{
            scale: 1.1;
        }

        .bolls{
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 64px;
        }

        .number-card{
            font-family: 500;
            font-size: 28px;
            letter-spacing: 3.5px;
            margin-bottom: 25.5px;
        }

        .bottom-card{
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 14px;

            div{
                display: flex
            }
        }
    }

    .card-back{
        @include cardFormat();
        width: 100%;
        background:linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
        padding: 23px 0;
        text-align: center;
        margin-left: 15%;
        box-shadow: 0 0 20px #3d3d3d;
        transition: all ease .3s;
        &:hover{
            scale: 1.1;
        }

        .line{
            background-color: #2F2F2F;
            display: block;
            width: 100%;
            height: 54px;
        }

        .cvc{
            background-color: #ADB5BE;
            margin: 24px 41px 33px 45px;
            padding: 10px 16px;
            text-align: end;
            border-radius: 4px;
        }
    }
}

.form{
    position: fixed;
    top: 25vh;
    left: 60%;
    max-width: 380px;
    width: 100%;

    form{
        display: flex;
        flex-direction: column;
        gap: 26px;

        .flex-column{
            display: flex;
            flex-direction: column;
        }

        label{
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
        input{
            padding: 11px 0 11px 16px;
            font-weight: 500;
            font-size: 18px;
            border: 2px solid #DFDEE0;
            border-radius: 8px;

            &:focus{
                outline-color: transparent;
            }

            &::-webkit-inner-spin-button { 
                -webkit-appearance: none;   
            }
        }

        .date-and-cvc{
            display: flex;
            gap: 20px;

            input{
                margin-top: 9px;
            }

            .inputs-date{
                display: flex;
                gap: 10px;

                #exp-date-month, #exp-date-year{
                    width: 80px;
                }
            }

            #card-of-cvc{
                width: 190px;
            }
        }

        button{
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            padding: 15px 0;
            border-radius: 8px;
            background-color: #21092F;
            cursor: pointer;
            transition: all ease 0.5s;
            border: none;

            &:hover{
                background-color: #610595;
                scale: 1.07;
            }
        }

        .mensage-error{
            color: #FF5050;
            font-weight: 500;
            font-size: 12px;
            display: none;
        }
    }

    .mensage-sucess{
        text-align: center;
        display: none;
        img{
            margin-bottom: 35px;
        }
        h3{
            font-weight: 500;
            font-size: 28px;
            letter-spacing: 3.5px;
            color: #21092F;
        }
        p{
            margin: 16px 0 48px;
        }
        button{
            font-size: 18px;
            color: #fff;
            background-color: #21092F;
            border-radius: 8px;
            border: transparent;
            padding: 15px;
            width: 380px;
            cursor: pointer;
            transition: all ease 0.5s;

            &:hover{
                background-color: #610595;
                scale: 1.07;
            }
        }
    }
}

span{
    color: #FF5050;
    font-weight: 500;
    font-size: 12px;
    display: block;
}



@media screen and (max-width: 1200px) {
    .cards{
        width: 30%;
        .card-front{
            width: 285px;
            height: 155px;
            padding: 18px 20px 20px 20px;

            .bolls{
                margin-bottom: 37px;
                .bolls-1{
                    width: 10%;
                }
                .bolls-2{
                    width: 5%;
                }
            }
            .number-card{
                font-size: 18px;
                letter-spacing: 1px;
                margin-bottom: 17px;
            }
            .bottom-card{
                font-size: 9px;
                gap: 0;
                justify-content: space-between;
                
            }
        }


        .card-back{
            width: 285px;
            height: 155px;

            .line{
                height: 34px;
            }

            .cvc{
                padding: 9px 8px;
                font-size: 9px;
                margin: 15px 27px 18px 27px;
            }

            img{
                width: 40%;
            }
        }
    }

    .form{
        left: 50%;
        margin-right: 30px;
        width: 330px;

        form{
            .date-and-cvc{
                .inputs-date{
                    #exp-date{
                        width: 72px;
                    }
                }
                #card-of-cvc{
                    width: 160px;
                }
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .form{
        left: 55%;
    }
}

@media screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards{
        max-width: 768px;
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        padding: 32px 16px 0 16px;

        .card{
            position: relative;
            top: 0;
            left: 0;
            gap: 0;
        }

        .card-front{
            position: absolute;
            top: 110px;

            
        }

        .card-back{
            margin-left: 73px;
        }
    }

    .form{
        position: relative;
        top: 0;
        left:0;
        margin: 100px 24px 45px 24px
    }
}
